
<div class="form-container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'box'}) do |f| %>
    <h2 class="is-size-4">Log in</h2>

    <div class="field">
      <%= f.label :email, "Email", class: "label" %>
      <div class="control has-icons-left">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i> <!-- Add email icon -->
        </span>
      </div>
    </div>

    <div class="field">
      <%= f.label :password, "Password", class: "label" %>
      <div class="control has-icons-left">
        <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i> <!-- Add lock icon -->
        </span>
      </div>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <label class="checkbox">
          <%= f.check_box :remember_me %>
          Remember me
        </label>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: "button is-primary is-fullwidth" %>
    </div>
  <% end %>

  <div class="has-text-centered">
    <%= render "devise/shared/links" %>
  </div>
</div>