<div id="<%= dom_id post %>"  class="card">
  <div class="card-image ">
    <figure class="image is-4by3">
      <% if post.image.attached? %>
        <%= image_tag post.image %>
      
      <% end %> 
    </figure>
    
  </div>

  <div class="card-content py-3">
    <div class="media">
      <div class="media-content">
         <h3 class="is-size-5 has-text-weight-boll"> <%= post.title %></h3>
         <p class="subtitle is-6 mb-1">
          <%= link_to   post.user.username, posts_path(username: post.user.username) %>
        </p>
        <%= link_to post.category.name, posts_path(category_id: post.category_id), class:'tag is-primary' %>
        <p><%= post.created_at.strftime("created in %B %d, %Y") %></p>
          
      </div>
    </div>
    <div class="content has-text-centered">
    <%= link_to "article" , post , class:"button is-link is-small is-rounded" %>
    <% if user_signed_in? &&  current_user.id == post.user_id %>
        <%= link_to "Edit article" , edit_post_path(post) , class:'button is-warning is-small  is-rounded '  %>
      <%end %>
  </div>
  </div>
  
  
</div>
